body{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

button {
  padding: 7px;
  background-color:honeydew;
  border: 1px solid darkgray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.container {
  padding: 10px;
  background-color: ghostwhite;
  border: 2px solid darkgray;
  border-radius: 15px;
}

.user {
  display: flex;
}

.avatar {
  width: 50px;
  height: 50px;
}

.personals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.user p{margin: 0;}

.folows {
  display: flex;
  align-self:flex-end;
  justify-self: flex-start;
  margin-left: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.name {font-size: 1.5rem;}

.user-name {
  font-size: 0.9rem;
  color: #444444;
}

.folows > p {
  font-size: 0.8rem;
}